itc172/Assignment5/App_WebReferences/AddShowDetailServiceReference/ShowDetailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShowDetailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:46381/ShowDetailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:46381/ShowDetailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:46381/ShowDetailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShowDetailService_AddShow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShow" />
  </wsdl:message>
  <wsdl:message name="IShowDetailService_AddShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowResponse" />
  </wsdl:message>
  <wsdl:message name="IShowDetailService_AddArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArtist" />
  </wsdl:message>
  <wsdl:message name="IShowDetailService_AddArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IShowDetailService_GetArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtists" />
  </wsdl:message>
  <wsdl:message name="IShowDetailService_GetArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="IShowDetailService_GetShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShows" />
  </wsdl:message>
  <wsdl:message name="IShowDetailService_GetShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IShowDetailService_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails" />
  </wsdl:message>
  <wsdl:message name="IShowDetailService_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IShowDetailService">
    <wsdl:operation name="AddShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowDetailService/AddShow" message="tns:IShowDetailService_AddShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowDetailService/AddShowResponse" message="tns:IShowDetailService_AddShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowDetailService/AddArtist" message="tns:IShowDetailService_AddArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowDetailService/AddArtistResponse" message="tns:IShowDetailService_AddArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowDetailService/GetArtists" message="tns:IShowDetailService_GetArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowDetailService/GetArtistsResponse" message="tns:IShowDetailService_GetArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowDetailService/GetShows" message="tns:IShowDetailService_GetShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowDetailService/GetShowsResponse" message="tns:IShowDetailService_GetShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowDetailService/GetDetails" message="tns:IShowDetailService_GetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowDetailService/GetDetailsResponse" message="tns:IShowDetailService_GetDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShowDetailService" type="tns:IShowDetailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddShow">
      <soap:operation soapAction="http://tempuri.org/IShowDetailService/AddShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <soap:operation soapAction="http://tempuri.org/IShowDetailService/AddArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <soap:operation soapAction="http://tempuri.org/IShowDetailService/GetArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <soap:operation soapAction="http://tempuri.org/IShowDetailService/GetShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/IShowDetailService/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShowDetailService">
    <wsdl:port name="BasicHttpBinding_IShowDetailService" binding="tns:BasicHttpBinding_IShowDetailService">
      <soap:address location="http://localhost:46381/ShowDetailService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>